<ul type="none" class="p-2 lh-lg border-end h-100">
<li>
<a href="/dashboard" class="text-decoration-none fs-5">Home</a>
</li>

<li>
    <a href="#" class="text-decoration-none fs-5">View banner</a>
    </li>

    <li>
        <!-- <a  type="button" onclick="add()" class="text-decoration-none fs-5">View courses</a> -->
        <a href="/add_product" class="text-decoration-none fs-5">Add new product</a>

        </li>
        <li>
            <a href="/view_product" class="text-decoration-none fs-5">View product</a>
            </li>
            <li>
                <a href="/view_regis" class="text-decoration-none fs-5">View Registraion</a>
                </li>
                <!-- <li>
                    <a href="/edit_regis" class="text-decoration-none fs-5">edit Registraion</a>
                    </li>
</ul> -->