    
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        border: 0px solid red;
    }
    div{
      cursor: context-menu;
    }
  .mt-100{
    margin-top: 100px;
  }
 .mt-200{
  margin-top: 200px;
 }
  .lt-space{
    letter-spacing: 2px;
  }  


    /*header and banner sec */
   ul li{
    padding: 0 10px ;
   }
    .height{
        height: 500px;
        background-color: rgba(255, 255, 0, 0.603);
      }
   .in-bor{
    border-bottom: 1px solid white;
   }
    .banner{
        
        background-image:linear-gradient(75deg ,rgba(5, 5, 5, 0.591)15%,rgba(28, 30, 30, 0.608)), url(../images/hmservicesbanner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* header and banner end */


    /* container css starts */
     .text1{
        /* border-bottom: 7px double red; */
        /* box-shadow: 3px 3px 3px 2px rgb(2, 2, 45)  ; */
        text-shadow: 0 0 3px rgb(255, 255, 255),0 0 5px rgb(0, 0, 0),0 0 7px rgb(251, 251, 251),0 0 9px rgb(0, 0, 0);
     }
     .img-shad{
      box-shadow: 0px 0px 10px 1px black;
     }
     .back1{
      background-color: rgba(51, 2, 27, 0.44);
      background-image: linear-gradient(180deg ,rgba(255, 104, 177, 0.559)25%,white);
     }
     .back2{
      background-color: rgba(4, 45, 119, 0.653);
      background-image: linear-gradient(180deg ,rgba(22, 94, 248, 0.559)25%,white);
     }
     .back3{
      background-color: rgba(67, 28, 3, 0.552);
      background-image: linear-gradient(180deg ,rgba(237, 144, 58, 0.559)25%,white);
     }
     .img_md{
       height: 400px;
       width:500px;
     }
    /* container css ends */