
<div class="container-fluid bg-black  px-4 py-3 mt-200" >
 <div class="row  text-white lh-lg">

    <div class="col-sm-4 p-5"><h5 class="text-white"><u>Home Services</u></h5>
                    <ul >
                        <li><a class="text-decoration-none" href="">Cleaning</a></li>
                        <li><a class="text-decoration-none" href="">Professional Electricians</a></li>
                        <li><a class="text-decoration-none" href="">Professional Grooming</a></li>
                    </ul>   
    </div>
    <div class="col-sm-4 p-5"><h5 class="text-white"><u>Follow Us :</u></h5>
        <i class="icofont-instagram"></i><i class="icofont-twitter"></i><i class="icofont-whatsapp"></i>
    </div>
    <div class="col-sm-4 p-5"> <h5><u>Contact us :</u></h5>
    <address>PremNagar, bhoot gali <br>Kholi no. 420</address>
    </div>

    
 </div>
</div>
<!-- <script src="../assest/bs/js/bootstrap.bundle.min.js"> </script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>